<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442560291726-bajrn8o2bipe2h0n5a5soukfasm6u4vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442560291726-bajrn8o2bipe2h0n5a5soukfasm6u4vb</string>
	<key>API_KEY</key>
	<string>AIzaSyD5XTXYbV5-XsjF_NLJlQz-sy4zHjdo0K8</string>
	<key>GCM_SENDER_ID</key>
	<string>442560291726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orschat.talk4fun.net.orschat</string>
	<key>PROJECT_ID</key>
	<string>ors-chat-4b9a2</string>
	<key>STORAGE_BUCKET</key>
	<string>ors-chat-4b9a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442560291726:ios:eab1317667033d43e2badf</string>
</dict>
</plist>